<!DOCTYPE html>

{% load static %}
<head>
  <title> TTT </title>
</head>
<link rel = 'stylesheet' type = 'text/css' href = '{% static "ttt/style.css" %}' />

<nav>
  <ul>
    <a href = 'https://github.com/pmuldoon86/machine-learning' >
      <img src="http://i.imgur.com/qBR0s9O.jpg" title="logo" class = 'nav-logo'/>
    </a>
    <li>
      Welcome to Tictactoe!
    </li>
  </ul>
</nav>
<body>
  test
</body>

<footer>
  <div class = 'footer'>
    Copyright 2017 by Sandy Cochrane, Cristina Iannone, Sophie Mann, Paula Muldoon, Simon Tanner <br> <br>
    Makers Academy Remote April 2017 Cohort
  </div>
</footer>
